<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>RidesOnDate</servlet-name>
        <servlet-class>RidesOnDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RidesInBurrough</servlet-name>
        <servlet-class>RidesInBurrough</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ActiveVehiclesOver1000Servlet</servlet-name>
        <servlet-class>ActiveVehiclesOver1000Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HowManyPast10Servlet</servlet-name>
        <servlet-class>HowManyPast10Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StreetServlet</servlet-name>
        <servlet-class>StreetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstClassServlet</servlet-name>
        <servlet-class>FirstClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFiles</servlet-name>
        <servlet-class>ListFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRow</servlet-name>
        <servlet-class>SendRow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackUp</servlet-name>
        <servlet-class>BackUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTempServlet</servlet-name>
        <servlet-class>CreateTempServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top3Hours</servlet-name>
        <servlet-class>Top3Hours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopStreetsTime</servlet-name>
        <servlet-class>TopStreetsTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top3Streets</servlet-name>
        <servlet-class>Top3Streets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatLong</servlet-name>
        <servlet-class>LatLong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumPeopleArrived</servlet-name>
        <servlet-class>NumPeopleArrived</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopVehicleAM</servlet-name>
        <servlet-class>TopVehicleAM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopVehiclePM</servlet-name>
        <servlet-class>TopVehiclePM</servlet-class>
    </servlet>

    <!-- Servlets Mapping -->
    <servlet-mapping>
        <servlet-name>RidesOnDate</servlet-name>
        <url-pattern>/RidesOnDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RidesInBurrough</servlet-name>
        <url-pattern>/RidesInBurrough</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveVehiclesOver1000Servlet</servlet-name>
        <url-pattern>/ActiveVehiclesOver1000Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HowManyPast10Servlet</servlet-name>
        <url-pattern>/HowManyPast10Servlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>StreetServlet</servlet-name>
        <url-pattern>/StreetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstClassServlet</servlet-name>
        <url-pattern>/FirstClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFiles</servlet-name>
        <url-pattern>/ListFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRow</servlet-name>
        <url-pattern>/SendRow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackUp</servlet-name>
        <url-pattern>/BackUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTempServlet</servlet-name>
        <url-pattern>/CreateTempServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top3Hours</servlet-name>
        <url-pattern>/Top3Hours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopStreetsTime</servlet-name>
        <url-pattern>/TopStreetsTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top3Streets</servlet-name>
        <url-pattern>/Top3Streets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatLong</servlet-name>
        <url-pattern>/LatLong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumPeopleArrived</servlet-name>
        <url-pattern>/NumPeopleArrived</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopVehicleAM</servlet-name>
        <url-pattern>/TopVehicleAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopVehiclePM</servlet-name>
        <url-pattern>/TopVehiclePM</url-pattern>
    </servlet-mapping>

</web-app>